<div class="hello-page">
  <%if user_signed_in?%>
    <div class="page-menu">
      <div class="ball-area blue">
        <%=link_to post_index_path do%>
            <span class="page-name">一覧をみる</span>
          <%end%>
      </div>
      <div class="ball-area red">
        <%=link_to post_index_path do%>
          <span class="page-name">ガチャをひく</span>
        <%end%>
      </div>
      <div class="ball-area yellow">
        <%=link_to user_index_path do%>
            <span class="page-name">ユーザーを見る</span>
        <%end%>
      </div>
    </div>
  <%else%>
  <div class="page-menu">
      <div class="ball-area red">
        <%=link_to new_user_session_path do%>
          <span class="page-name">ログイン</span>
        <%end%>
      </div>
      <div class="ball-area yellow">
        <%=link_to new_user_registration_path do%>
            <span class="page-name">サインイン</span>
        <%end%>
      </div>
    </div>
  <%end%>  
</div>