<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<p>MyPage <%= @user.email %></p>
<p>MyPoint <%= @user.point %></p>

<%if current_user==@user%>
  <%=form_for @user ,url:set_path do |f|%>
    <div class="input_area">
      <%= f.label :love %>
      <%= f.text_field :love, :size => 140 %>
    </div>
    <%= f.submit "Set my Love!" %>
    <%end%>
<%else%>
  <%=form_for @already ,url:anser_path(@user.id) do |f|%>
    <div class="input_area">
      <%= f.label :ans %>
      <%= f.text_field :ans, :size => 140 %>
    </div>
    <%= f.submit "anser!" %>
  <%end%>
<%end%>  

  
<h3>カードコレクション</h3>
  <%@cards.each do |t|%>
      <div class="mentor-card d">
        <div class="mentor-name"><%=t.body%></div>
        <div class="mentor-image"><%= image_tag t.image_url, size: "250x250" , class: "image" if t.image? %>
        </div>
      </div>
  <%end%>


