<div class="gacha">
  <%if current_user.point>0%>
  <div class="gacha-new">
    <div class="point">My Point　<%= current_user.point %></div>
    <div class="gacha-image"></div>
    <div class="to-play">
      <%=link_to gacha_path, method: :post do%>
      <div class="play">PLAY</div>
      <%end%>
    </div>
    <%else%>
    <p>Add your point!</p>
    <%end%>

    <h1>↓ガチャ結果</h1>
    <%if @gacha%>
    <div class="gacha-result">
      <div class="mentor-card d">
        <div class="mentor-name"><%=@gacha.body%></div>
        <div class="mentor-image"><%= image_tag @gacha.image_url, size: "250x250" , class: "image" if @gacha.image? %>
        </div>
      </div>
    </div>
    <%else%>
    <h1>No Post</h1>
    <%end%>
  </div>

<div class="post-index">
  <h3>一覧</h3>
  <div class="mentor-index">
    <%@posts.each do |t|%>
      <%if t.disc=="D"%>
      <div class="mentor-card d">
        <div class="mentor-name"><%=t.body%></div>
        <div class="mentor-image"><%= image_tag t.image_url, size: "250x250" , class: "image" if t.image? %>
        </div>
      </div>
      <%elsif t.disc=="I"%>
        <div class="mentor-card i">
          <div class="mentor-name"><%=t.body%></div>
          <div class="mentor-image"><%= image_tag t.image_url, size: "250x250" , class: "image" if t.image? %>
          </div>
        </div>
      <%elsif t.disc=="S"%>
        <div class="mentor-card s">
          <div class="mentor-name"><%=t.body%></div>
          <div class="mentor-image"><%= image_tag t.image_url, size: "250x250" , class: "image" if t.image? %>
          </div>
        </div>
      <%elsif t.disc=="C"%>
        <div class="mentor-card c">
        <div class="mentor-name"><%=t.body%></div>
        <div class="mentor-image"><%= image_tag t.image_url, size: "250x250" , class: "image" if t.image? %>
        </div>
        </div>
      <%else%>
        <div class="mentor-card r">
        <div class="mentor-name"><%=t.body%></div>
        <div class="mentor-image"><%= image_tag t.image_url, size: "250x250" , class: "image" if t.image? %>
        </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>


